# -----------------------------
# Container Images
# -----------------------------

PROMETHEUS_IMAGE=prom/prometheus:latest
GRAFANA_IMAGE=grafana/grafana:latest
NODE_EXPORTER_IMAGE=prom/node-exporter:latest
CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor:latest

# -----------------------------
# Ports
# -----------------------------

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100

# -----------------------------
# Resource Limits
# -----------------------------

PROMETHEUS_MEMORY=512m
PROMETHEUS_CPU=0.50

LOKI_MEMORY=256m
LOKI_CPU=0.50

PROMTAIL_MEMORY=128m
PROMTAIL_CPU=0.25

GRAFANA_MEMORY=512m
GRAFANA_CPU=0.50

NODE_EXPORTER_MEMORY=128m
NODE_EXPORTER_CPU=0.25

CADVISOR_MEMORY=256m
CADVISOR_CPU=0.50
